PULSE_USERNAME=
PULSE_PASSWORD=
PULSE_HOSTNAME=
PULSE_VHOST=
TASKCLUSTER_ROOT_URL=https://firefox-ci-tc.services.mozilla.com
TASKCLUSTER_CLIENT_ID=
TASKCLUSTER_ACCESS_TOKEN=
DATABASE_URL=postgresql://postgres@localhost:5433/forecasting
